:root {
  font-size: 16px;
  // --primaryColor: hsl(205, 81%, 74%);
  --primaryColor: hsl(32, 45%, 76%);
  --accentColor: hsl(31, 65%, 65%);
  --secondaryColor: hsl(33, 59%, 90%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Kaushan Script", cursive;
}

body {
  background-color: #000;
  color: #fff;
  letter-spacing: 0.12rem;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  margin-inline: auto;
  max-width: 1440px;
  padding: 1rem;
}

h1 {
  font-size: 2.6875rem;
  font-size: clamp(
    2.6875rem,
    2.159330985915493rem + 2.253521126760563vw,
    4.1875rem
  );
}

h2 {
  font-size: 1rem;
  font-size: clamp(1rem, 0.7359154929577465rem + 1.1267605633802815vw, 1.75rem);
  line-height: 1.7;
  letter-spacing: 0.2rem;
}

p {
  line-height: 2;
  letter-spacing: 0.2rem;
}

.contactButton {
  padding: 0.5rem;
  border: 3px solid var(--primaryColor);
  background-color: transparent;
  color: white;
  border-radius: 10px;
  margin-top: 2rem;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: var(--primaryColor);
    color: #000;
    cursor: pointer;
  }
}

.logo {
  font-family: "Kaushan Script", cursive;
  color: var(--primaryColor);
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

.logoLine {
  display: inline-block;
  border-bottom: 1px solid var(--primaryColor);
  width: 40%;
  margin: 0 1.5rem;
}

.p-color {
  color: var(--primaryColor);
  text-transform: uppercase;
  font-style: italic;
}
.accent-color {
  color: var(--accentColor);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  margin-top: -1px;
  animation: zoom 0.3s ease-in-out;
  img {
    width: 50%;
    object-fit: cover;
    max-height: 80vh;
  }
}
.closeBtn {
  color: rgba(255, 255, 255, 0.87);
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.25rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    color: rgb(255, 255, 255);
  }
}
.nextBtn,
.prevBtn {
  color: var(--accentColor);
  font-size: 2.5rem;
  position: absolute;
  margin: 1.25rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding: 1rem;
  &:hover {
    color: rgb(255, 255, 255);
    background-color: var(--primaryColor);
  }
}
.nextBtn {
  right: 3%;
}
.prevBtn {
  left: 3%;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

//768px
@media (max-width: 48em) {
}
