footer {
  background-color: #000;
  padding: 10rem 0 2rem 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 0 1rem;
    h2:hover {
      cursor: pointer;
      color: var(--primaryColor);
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      text-decoration: none;
      gap: 1.5rem;
      font-size: 1rem;
      margin: 1rem 0;
      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          border-bottom: 4px solid var(--primaryColor);
        }
      }
    }

    .socials {
      display: flex;
      justify-content: center;
      gap: 4rem;
      .fa-brands {
        font-size: 1.5rem;
        color: #fff;
        &:hover {
          color: var(--primaryColor);
          cursor: pointer;
        }
      }
    }

    .email_content {
      .email {
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        color: #fff;
        letter-spacing: 0.1rem;
        max-width: 12.5rem;
        margin-inline: auto;
        text-align: center;
        align-items: center;
        &:hover {
          color: var(--primaryColor);
        }
      }
      .fa-regular {
        font-size: 1.5rem;
      }
    }
  }
}

//768px

@media (max-width: 48em) {
  footer {
    padding: 5rem 0;
  }
}
