nav {
  position: absolute;
  width: 100%;
  z-index: 1;
  .wrapper {
    padding: 2rem 1rem;
  }
  .nav_menu {
    display: flex;
    .logo {
      margin-right: auto;
      text-decoration: none;
    }
    &.active {
      left: 0;
    }
  }
  .nav_menu_links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    a {
      color: #fff;
      list-style: none;
      text-decoration: none;

      &:hover {
        border-bottom: 0.2rem solid var(--primaryColor);
        color: var(--primaryColor);
      }
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 999;

    &.active .bar:nth-child(2) {
      opacity: 0;
    }

    &.active .bar:nth-child(1) {
      transform: translateY(0.5rem) rotate(45deg);
    }

    &.active .bar:nth-child(3) {
      transform: translateY(-1.06rem) rotate(-45deg);
    }
    &.active {
      position: fixed;
    }
  }
}

.bar {
  display: block;
  width: 2.2rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.03s ease-in-out;
  transition: all 0.03s ease-in-out;
  background-color: #e0a96d;
}

header {
  .header_content {
    position: relative;
    top: 0;
    z-index: 0;
  }
  img {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    h2 {
      max-width: 1000px;
      padding: 1rem;
    }
  }
  .contact_btn {
    display: flex;
    gap: 5rem;
    font-size: 1.13rem;
    button:first-of-type {
      background-color: var(--primaryColor);
      color: #000;
      &:hover {
        background-color: transparent;
        color: #fff;
        border: 0.188rem solid var(--primaryColor);
      }
    }
  }
}

.fa-bars {
  font-size: 2.5rem;
  color: var(--primaryColor);
}
.fa-xmark {
  display: none;
}

//768px
@media (max-width: 48em) {
  nav {
    .wrapper {
      padding: 1rem 1rem;
    }
    .hamburger {
      display: block;
      right: 2rem;
    }
    .nav_menu {
      position: fixed;
      display: flex;
      text-align: center;
      left: -100%;
      flex-direction: column;
      background-color: var(--primaryColor);
      width: 100%;
      max-width: 48em;
      top: 0;
      transition: 0.3s;
      margin-left: 0;
      height: 100%;
      .nav_menu_links {
        flex-direction: column;
      }

      .nav_link {
        width: 100%;
        background-color: #ddc3a5;
        padding: 1rem;

        &:hover {
          border-bottom: none;
          background-color: #f5e8d8;
          color: black;
          transition: 1.2s;
        }
      }
    }
  }

  header {
    .overlay {
      gap: 0;
    }
  }
}
